<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095980001935-a1lpo21ieab6ujla6r3v9c5i987q6kir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095980001935-a1lpo21ieab6ujla6r3v9c5i987q6kir</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1095980001935-au5hot8k6rchb1g2reqlmut5dcu7q18p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzLlZe86SzgiE6-4YueOmrbUKLwvQXwUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1095980001935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsc.sc2021</string>
	<key>PROJECT_ID</key>
	<string>sc2021-6f7fe</string>
	<key>STORAGE_BUCKET</key>
	<string>sc2021-6f7fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095980001935:ios:8feb6eb36f2352fbc19efa</string>
</dict>
</plist>